on: [push]
name: Test
jobs:
  security:
    name: Review security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install gosec
        uses: "cedrickring/golang-action@1.4.1"
        with:
          args: go get github.com/securego/gosec/cmd/gosec; (cd db && gosec .) && (cd firestore && gosec .) && (cd http/api && gosec .) && (cd http/client && gosec .) && (cd http/server && gosec .) && (cd service && gosec .) && (cd wormhole && gosec .)
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test (db)
        run: cd db; go test ./...
      - name: Test (http/api)
        run: cd http/api; go test ./...
      - name: Test (http/client)
        run: cd http/client; go test ./...
      - name: Test (http/server)
        run: cd http/server; go test ./...
      - name: Test (service)
        run: cd service; go test ./...
